.stack {
  display: flex;
}

.stack-row {
  flex-direction: row;
}

.stack-row-reverse {
  flex-direction: row-reverse;
}

.stack-column {
  flex-direction: column;
}

.stack-column-reverse {
  flex-direction: column-reverse;
}

.stack-align-items-flex-start {
  align-items: flex-start;
}

.stack-align-items-center {
  align-items: center;
}

.stack-align-items-flex-end {
  align-items: flex-end;
}

.stack-align-items-stretch {
  align-items: stretch;
}

.stack-align-items-baseline {
  align-items: baseline;
}

.stack-justify-content-flex-start {
  justify-content: flex-start;
}

.stack-justify-content-center {
  justify-content: center;
}

.stack-justify-content-flex-end {
  justify-content: flex-end;
}

.stack-justify-content-space-between {
  justify-content: space-between;
}

.stack-justify-content-space-around {
  justify-content: space-around;
}

.stack-justify-content-space-evenly {
  justify-content: space-evenly;
}

.stack-wrap {
  flex-wrap: wrap;
}
