.spinner {
  position: fixed;
  z-index: 10000;
  display: none;
  width: 40px;
  height: 40px;
}

.display {
  display: inline-block;
}

.position-top-left {
  top: 8px;
  left: 8px;
}

.position-top-center {
  top: 8px;
  left: 50%;
  transform: translateX(50%);
}

.position-top-right {
  top: 8px;
  right: 8px;
}

.position-bottom-left {
  bottom: 8px;
  left: 8px;
}

.position-bottom-center {
  bottom: 8px;
  left: 50%;
  transform: translateX(50%);
}

.position-bottom-right {
  right: 8px;
  bottom: 8px;
}

.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner div {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #5cb85c;
  border-color: #5cb85c transparent transparent;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
